.bulkCompress {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: white;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

.header h1 {
    margin-left: 20px;
}

.content {
    padding: 20px;
    overflow-y: auto;
}

.back {
  composes: unbutton from global;
  position: relative;
  width: 47px;
  height: 47px;
  margin: 9px;

  & > svg {
    width: 47px;
    overflow: visible;
  }
}

.back-blob {
  fill: var(--hot-pink);
  opacity: 0.77;
}

.back-x {
  fill: var(--white);
}
